
<div class="container-fluid home-header-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="legal-wrapper">
                    <h1 class="header-text">
                        LEGAL MATTERS
                        <br /> MADE EASY
                    </h1>
                    
                    @using (Html.BeginForm("Search", "Documents", FormMethod.Post, new { @class = "navbar-form navbar-left" }))
                    {
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="SEARCH DOCUMENTS..." name="searchString">

                            <button type="submit" class="btn btn-default">Search</button>

                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-5">
                <div class="img-wrapper">
                    <div class="speech">
                        <p>
                            Hi, there. My name is Kone.
                            <br /> Welcome to Babylawya.
                            <br />Thanks for visiting.
                        </p>
                    </div>
                    <img src="~/images/babylawya.png" class="img-responsive speech-img">
                </div>
            </div>
        </div>
    </div>
</div>