@{
    ViewData["Title"] = "About Us";
}
<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>
    @*<h3>@ViewData["Message"]</h3>*@
    
    <div class="w-70 support-page">
        <p>
            Our mission is to help consumers and small businesses find answers to their everyday legal and business issues.

            BabyLawya’s document editor is a convenient tool for entrepreneurs, small business owners, and the self-employed. Our online business forms offer a quick solution to everyday legal matters to keep you covered and compliant.
        </p>
        
        <p>
            Create, edit and share everything you need—all for free. 
        </p>
    
        <p>
            It’s as simple as answering a series of questions. You can even save your forms as often as you’d like, making adjustments as your needs or business grows.
        </p>
    </div>
    
</div>
