
@{
    ViewData["Title"] = "Ask Lawyer";
}

<div class="container text-center">
    <h2>Ask A Lawyer</h2>

    <div class="">
        <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex deserunt aperiam ad temporibus quod neque nemo itaque corporis, laudantium hic sint odio distinctio, natus, fugiat atque nam! Eius ex optio quas? Labore repellat quam reprehenderit vero sint modi earum voluptatum a est ullam! Vitae saepe dolore repudiandae esse recusandae, sapiente nihil quod magni voluptas fuga quidem totam accusantium delectus quibusdam dolores harum voluptates beatae, hic tempora! Accusamus totam ipsum, quas rerum sit possimus itaque, molestiae sequi aperiam expedita autem rem laboriosam laborum nam numquam, perspiciatis tenetur? Error possimus corporis aliquam ab dolorem nisi distinctio hic, animi dolorum dolore, quas culpa quisquam, nesciunt esse vitae voluptatem. Suscipit, quaerat expedita! </p>
                <p>Aliquam, iste? Officiis rem repellat vero nam, nostrum ab necessitatibus quis, nobis, illo cum labore aliquid inventore! Ducimus odit aliquam nam voluptas ex illo, id saepe sunt voluptates architecto omnis nesciunt corrupti illum unde tenetur reprehenderit assumenda fuga ab repudiandae quaerat hic possimus voluptatem recusandae accusamus! Nisi numquam nulla nobis? Ad animi itaque dolorum! Dolore nam delectus quae! Sit quibusdam quos at tenetur vel soluta accusantium quam voluptatibus tempore assumenda voluptates reiciendis minima iure in consequatur ullam architecto delectus nemo repudiandae molestiae autem adipisci, nulla quasi. Dignissimos quam, neque excepturi omnis eligendi enim voluptates repellat quia reprehenderit vel accusantium recusandae quis, nemo aperiam fuga provident porro officia hic voluptas ea ab minus, quibusdam laboriosam.</p>
                <p> Maxime cumque suscipit dicta eaque, illo similique laboriosam dolores ut quae officia recusandae tenetur iure et iusto! Aut, dolore ea. Est cum aperiam magni officia fugiat illo harum, architecto quibusdam ab ipsam, fuga, doloremque neque ad vel. Aliquam unde quibusdam alias minima, cumque facilis eaque atque aut quas omnis veniam optio. Id nemo enim alias consectetur porro iste, doloremque deleniti hic officiis dignissimos labore culpa quos maiores eius quaerat ullam mollitia vitae numquam qui harum commodi. Modi commodi consequuntur, maiores optio voluptatem dolores aut ratione libero quibusdam sed voluptates laudantium repudiandae doloremque voluptas blanditiis eligendi quo.</p>
                    <p>Praesentium dolorum minus unde rem quia, deleniti, voluptas excepturi optio accusamus blanditiis porro fugiat quibusdam nulla magni soluta reiciendis! Voluptatum, aliquid ipsam voluptatibus ad laudantium magni quasi voluptate, nesciunt, praesentium quos libero! Perferendis, beatae? Repellendus quibusdam odit, inventore blanditiis nisi quidem a, qui ad magni voluptatibus porro eos culpa ipsa veniam distinctio repudiandae ducimus, consequatur quia aspernatur quas animi neque cupiditate! Aut ut perferendis libero. A nulla atque neque. Voluptate perspiciatis consectetur maxime cupiditate ex minus voluptas repudiandae maiores id unde. Mollitia.

        </p>
    </div>
</div>



