
@{
    ViewData["Title"] = "How It Works";
}
<div class="container">
<h1>How It Works</h1>
    
    <div class="container">
        <h2>Fast, Simple, Affordable</h2>
        
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="abt-card">
                    <h3>Step 1</h3>
                    <img src="~/images/abt/1.png" class="img-responsive" alt="Alternate Text"/>
                    <p>Click on the document you need. Please read the short description of the document to be sure you have chosen the right document.</p>
                </div>
            </div>

            <div class="col-sm-6 col-xs-12">
                <div class="abt-card">
                    <h3>Step 2</h3>
                    <img src="~/images/abt/2.png" class="img-responsive" alt="Alternate Text" />
                    <p>Complete all the questions on the questionnaire.</p>
                </div>
            </div>
            
            <div class="col-xs-12"></div>

            <div class="col-sm-6 col-xs-12">
                <div class="abt-card">
                    <h3>Step 3</h3>
                    <img src="~/images/abt/3.png" class="img-responsive" alt="Alternate Text" />
                    <p>Preview the document.</p>
                </div>
            </div>

            <div class="col-sm-6 col-xs-12">
                <div class="abt-card">
                    <h3>Step 4</h3>
                    <img src="~/images/abt/4.png" class="img-responsive" alt="Alternate Text" />
                    <p>Payvia any of our convenient payment methods.</p>
                </div>
            </div>

            <div class="col-xs-12"></div>

            <div class="col-sm-6 col-xs-12">
                <div class="abt-card">
                    <h3>Step 5</h3>
                    <img src="~/images/abt/5.png" class="img-responsive" alt="Alternate Text" />
                    <p>Download the document in PDF or Word doument form.</p>
                </div>
            </div>

            <div class="col-sm-6 col-xs-12">
                <div class="abt-card">
                    <button class="btn btn-primary btn-lg">
                        Start
                    </button>
                    <p>
                        Downloading your legal document now!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>