@{
    ViewData["Title"] = "How It Works";
}

<div class="container-fluid how-it-work-wrapper">
    <h1>Fast. Simple. Affordable</h1>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <div class="abt-card">
                        <h3>Step 1</h3>
                        <img src="~/images/how-it-works/1.png" class="img-responsive">
                        <p>Click on the document you need. Please read the short description of the document to be sure you have chosen the right document.</p>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-6">
                    <div class="abt-card">
                        <h3>Step 2</h3>
                        <img src="~/images/how-it-works/2.png" class="img-responsive" alt="Alternate Text">
                        <p>Complete all the questions on the questionnaire.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <div class="abt-card">
                        <h3>Step 3</h3>
                        <img src="~/images/how-it-works/3.png" class="img-responsive" alt="Alternate Text">
                        <p>Preview the document.</p>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-6">
                    <div class="abt-card">
                        <h3>Step 4</h3>
                        <img src="~/images/how-it-works/4.png" class="img-responsive" alt="Alternate Text">
                        <p class="">Payvia any of our convenient payment methods.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <div class="abt-card">
                        <h3>Step 5</h3>
                        <img src="~/images/how-it-works/5.png" class="img-responsive" alt="Alternate Text">
                        <p>Download the document in PDF or Word doument form.</p>
                    </div>
                </div>

                <div class="col-sm-6 col-xs-6">
                    <div class="abt-card">
                        <div class="start-wrapper">
                            <button class="btn btn-primary btn-lg">
                                Start
                            </button>
                        </div>
                        <p class="">
                            Downloading your legal document now!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pre-footer">
    <div class="container">
        <div class="text-center newsletter">
            <form action="" id="newsletter">
                <label for="email">Get helpful tips and info from our newsletter</label>
                <input type="text" id="news-box" placeholder="your email address">
            </form>
        </div>
    </div>
</div>