@using babylawya.Controllers;

@{
    ViewData["Title"] = "Home Page";
}

<div class="body-main">
    <div class="padding-top-5 no-margin-right row">
        <div class="col-sm-7 col-xs-12 text-center">
            <h1 class="main-header logo-font">LEGAL MATTERS MADE EASY</h1>

            @using (Html.BeginForm("Search", "Documents", FormMethod.Post, new {@class = "container, form-horizontal"}))
            {
                <div class="form-group">
                    <div class="row">
                        <input type="text" id="search-box" class="search-box col-xs-6" placeholder="SEARCH DOCUMENTS..." name="searchString">
                        
                        <input type="submit" value="Search" class="search-btn col-xs-6"/>
                    </div><!-- /input-group -->
                </div>
            }
        </div>
        
        <div class="col-sm-5 col-xs-12">
            <div id="speech">
                <p>Hi, there. My name is Kone. Welcome to Babylawya. Thanks for visiting.</p>
            </div>

            <div>
                <img src="~/images/kone.png" alt="" id="kone" class="img-responsive">
            </div>
        </div>
    </div>
</div>

<div class="body-sub padding-bottom-5">
    <div class="body-instruction">
        <h1 class="text-center">We Make Getting Legal Documents & Forms Simple</h1>
        <h2 class="text-center">STEP-BY-STEP INSTRUCTIONS</h2>

        <div class="container row no-margin-right steps-list">
            <div class="col-sm-2"></div>
            <div class="col-sm-2 col-xs-6">
                <h3>Step 1</h3>
                <p>Tell us what you need; we'll recommend documents for you or search for a document</p>
            </div>

            <div class="col-sm-2 col-xs-6">
                <h3>Step 2</h3>
                <p>Complete all the questions on the questionnaire</p>
            </div>

            <div class="hide-xs col-xs-12"></div>

            <div class="col-sm-2 col-xs-6">
                <h3>Step 3</h3>
                <p>Pay via any of our convenient payment methods</p>
            </div>

            <div class="col-sm-2 col-xs-6">
                <h3>Step 4</h3>
                <p>Download your personalized document</p>
            </div>

            <div class="col-sm-2"></div>
        </div>
    </div>
</div>

<div class="body-sub2 padding-bottom-5">
    <div class="body-instruction">
        <h4 class="text-center">WHY BABYLAWYA?</h4>
        <h2 class="text-center">Great legal documents at your fingertips</h2>

        <p class="text-center w-70">
            Each and every Babylawya document comes with free storage, a quality guarantee and the personalised help you need.
        </p>

        <div class="container row no-margin-right steps-list">
            <div class="col-sm-6 col-xs-12">
                <h3>LEGALLY REVIEWED</h3>
                <p>Our documents are created and reviewed by lawyers and legal professionals. All you need to do is answer a few questions and your document is ready to sign, share or print in minutes.</p>
            </div>

            <div class="col-sm-6 col-xs-12">
                <h3>PERSONALISED HELP</h3>
                <p>
                    If you get stuck, need advice or aren't sure what to do next, we're here to help.
                    Our specialists can answer questions about how Babylawya works while our team of on-call attorneys can help you with any legal questions.
                </p>
            </div>

            <div class="col-sm-6 col-xs-12">
                <h3>HOW OUR FEEE TRIAL WORKS</h3>
                <p>
                    Your document is free within our 7 day trial period. After the trial, your paid membership will begin automatically and your service will continue uninterrupted.
                    Cancel before your trial ends and you will not be charged. Just sign into your account or call us at [[phone]] 6am - 6pm, Monday to Friday.
                </p>
            </div>

            <div class="col-sm-6 col-xs-12">
                <h3>QUALITY GUARANTEE</h3>
                <p>
                    We are proud to offer a quality guarantee on all our legal documents and forms.
                    If a court finds that the document you created and signed on our site is not legally enforceable because of an error made by Babylawya, we will make it right.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="body-sub3 padding-bottom-5">
    <div class="body-instruction">
        <h2 class="text-center" style="color: #01234f;">Popular Categories</h2>
        <p class="text-center w-70">Here is a list of popular legal and business documents available on the website. Click on the section or specific document you need to get started.</p>

        <div class="container text-center padding-bottom-5">
            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="card-list">
                        <img src="~/images/list/tenancy_agreement.png" alt="Alternate Text" class="img-responsive"/>
                            <h3>Tenancy Arrangement<span class="hide-span"><br/>Tenancy</span>
                            </h3>
                            <p>You own a residential/commercial rental property that will be leased to a tenant</p>
                       
                    </div>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <div class="card-list">
                        <img src="~/images/list/evic_not.png" alt="Alternate Text" class="img-responsive" />
                        <h3>Eviction Notice<span class="hide-span"><br />Arrangement<br/></span></h3>
                        <p>Your tenant has violated any part of the lease or rental agreement</p>
                    </div>
                </div>

                <div class="col-xs-12 hide-xs"></div>

                <div class="col-sm-3 col-xs-6">
                    <div class="card-list">
                        <img src="~/images/list/power_of_attorney.png" alt="Alternate Text" class="img-responsive" />
                        <h3>Power of Attorney<span class="hide-span"><br/>Arrangement</span></h3>
                        <p>You want to grant authority to someone to act on your behalf in legal affairs during your absence.</p>
                    </div>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <div class="card-list">
                        <img src="~/images/list/rev_pow_att.png" alt="Alternate Text" class="img-responsive" />
                        <h3>Revocation of Power of Attorney</h3>
                        <p>You want to remove an existing/re-assign a new power of attorney.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 col-xs-6">
                    <div class="card-list">
                        <img src="~/images/list/sales_agr.png" alt="Alternate Text" class="img-responsive" />
                        <h3>Sales Agreement/Bill of Sale</h3>
                        <p>You own personal property (other than real estate or a vehicle) that you'd like to sell or transfer, and you need a bill of sale for your accounting records.</p>
                    </div>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <div class="card-list">
                        <img src="~/images/list/loan_agr.png" alt="Alternate Text" class="img-responsive" />
                        <h3>Loan Arrangement<span class="hide-span"><br />Loan</span></h3>
                        <p>You wish to apply for a business or personal loan</p>
                    </div>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <div class="card-list">
                        <img src="~/images/list/prom_note.png" alt="Alternate Text" class="img-responsive" />
                        <h3>Promisory Note<span class="hide-span"><br />Arrangement</span></h3>
                        <p>You wish to pay a stated sum to someone at a specified date or on demand</p>
                    </div>
                </div>

                <div class="col-sm-3 col-xs-6">
                    <div class="card-list">
                        <img src="~/images/list/affidavit.png" alt="Alternate Text" class="img-responsive" />
                        <h3>Affidavit of Birth Certificate<span class="hide-span"></span></h3>
                        <p>You need additional proof of your birth for any official documentation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
