@{
    ViewData["Title"] = "About Us";
}
<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>
    @*<h3>@ViewData["Message"]</h3>*@
    
    <div class="w-70 support-page">
        <p>
            We're always working to make sure that legal solutions are available to everyone.
            

        </p>
        
        <p>
            Our work to bring quality legal solutions to our customers also means we're involved in advocacy efforts across the country.

            
        </p>
    
        <p>
            For all press inquiries, email <a href="mailto:press@legalzoom.com">press@legalzoom.com</a>.
        </p>
    </div>
    
</div>
