@using babylawya.Controllers
@using babylawya.Models.Entities
@model List<Document>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="container" style="margin-bottom: 10%;">
    <h2>Search Results</h2>
    @if (Model != null)
    {
        foreach (var document in Model)
        {
            <div class="row">
                @using (Html.BeginForm("Download", "Documents"))
                {
                    <input type="hidden" name="filename" value="@document.Name"/>
                    <div class="col-xs-4">@document.Name</div>
                    <div class="col-xs-4">@document.DateCreated</div>
                    <div class="col-xs-4">
                        <button type="submit" name="@document.Name">Download</button>
                    </div>
                }
            </div>
         }
    }
    else
    {
        <h5>No documents matching your keywords were found. Please, try again with different parameters.</h5>
    }
</div>
