@media (max-width: 1024px) {
    .header-wrapper {
        height: auto;
    }
    .navbar-brand img {
        height: 15px;
    }
    .navbar-nav>li {
        display: inline-block;
    }
    .header-line {
        left: -15px;
        right: -15px;
    }
    .legal-wrapper {
        position: relative;
        top: 0;
        transform: none;
    }
    h1.header-text {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 15px;
    }
    form.navbar-form.navbar-left {
        margin: 0;
        border: none;
        box-shadow:none;
    }

    .navbar-form .form-group, .navbar-form .btn-default {
        display: inline-block;
    }
    .navbar-form .form-control {
        width: 250px;
        display: inline-block;
    }
    .header-wrapper .img-wrapper {
        position: relative;
        top: 0;
        transform: none;
    }
    .header-wrapper .speech {
        width: 300px;
        margin-top: 30px;
        font-size: 14px;
    }
    .speech-img {
        height: 200px;
    }
    .header-wrapper .navbar-nav {
        margin: 0;
        text-align: right;
    }
    .header-wrapper .navbar-nav li a {
        text-decoration: underline;
    }
    .header-wrapper .nav>li>a {
        padding: 10px;
    }
    .navbar-default .navbar-toggle .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #4475d7;
    }
    .navbar-default .navbar-toggle {
        margin-right: 0;
        margin-left: 15px;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .step-list {
        text-align: center;
        width: 100%;
        margin-bottom: 30px;
        border-bottom: 1px solid #ddd;
        padding: 0 15px;
        height: 80px;
    }
    .step-list p {
        font-size: 12px;
        line-height: 18px;
    }
    .middle-content .desc {
        width: 100%;
    }
    .category-wrapper .desc {
        width: 100%;
    }
    .footer-info p {
        width: 100%;
        text-align: center;
    }
}