@font-face {
    font-family: Code Bold Regular;
    src: url(../fonts/code-bold.otf);
}

@font-face {
    font-family: Corbel;
    src: url(../fonts/corbel.ttf);
}

body {
    font-family: 'Corbel', monospace;
}

html {
    font-size: 1em;
}

h1 {
    font-size: 2.074em;
}

h2 {
    font-size: 1.728em;
}

h3 {
    font-size: 1.44em;
}

h4 {
    font-size: 1.2em;
}

hr {
    margin: 0 auto;
}

.logos {
    max-width: 30%;
    margin: .5em auto;
}

.logo-font {
    font-family: 'Code Bold Regular', monospace;
}

.main-header {
    font-size: 3.2rem;
    color: #fff;
    margin-left: 70px !important;
}

.navbar {
    border: 0;
    padding: 0;
}

    .navbar.navbar-default {
        background-color: #5a8cef;
        -ms-border-radius: 0;
        border-radius: 0;
        margin-bottom: 0;
        border-bottom: 0;
    }

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

/* ReSharper disable once CssBrowserCompatibility */
nav.navbar-nav.navbar-right.nav-link > li:nth-child(1) {
    content: '|';
}

.navbar-brand {
    position: relative;
    top: -50px;
    font-size: 3rem;
}

.body-content {
    position: absolute;
    left: 0;
    right: 0;
}

.body-main {
    background-color: #5a8cef;
}

.support-page {
    line-height: 2em;
    padding: 2% 0 5%;
}

.search-box {
    margin: 50px auto 0;
    margin-left: 70px;
    height: 50px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    background-color: #4575d7;
    border: none;
    color: #fff;
}

#speech {
    max-height: 100%;
    border: 2px solid #fff;
    margin: 0 auto 1em;
    animation: 3s linear 0s 1 grow;
    font-size: 1.2rem;
    color: #fff;
    border-radius: 10px;
}

    #speech p {
        padding: .5rem 0;
        margin: auto;
        text-align: center;
        width: 75%;
    }

#kone {
    animation: 2s linear 0s 1 shrink;
    max-width: 70%;
}

/* ReSharper disable once CssBrowserCompatibility */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #fff;
    text-align: center;
}

::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
    text-align: center;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 1;
    text-align: center;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
    text-align: center;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
    text-align: center;
}

#search-box::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ccc;
}

#search-box:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
    opacity: 1;
}

#search-box::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
    opacity: 1;
}

#search-box:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}

#search-box::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
}

#news-box {
    border-radius: 10px;
    background-color: #6f9ffe;
    padding: 10px;
    border: 0;
    margin: 0 2rem;
}

#newsletter {
    padding: 1rem 0;
}

#news-box::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-style: italic;
}

#news-box:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-style: italic;
}

#news-box::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-style: italic;
}

#news-box::-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-style: italic;
}

#news-box::-ms-input-placeholder { /* Microsoft Edge */
    font-style: italic;
}

.search-btn {
    height: 50px;
    width: 20%;
    margin: 50px auto 0;
    margin-left: 20px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border: none;
    background-color: #4575d7;
    color: #fff;
    font-weight: bold;
}

.body-sub {
    padding-top: 2%;
    background-color: #f1f6ff;
    margin: 0 auto;
}

.body-sub2 {
    background-color: #fff;
    padding-top: 2%;
}

.body-sub3 {
    padding-top: 2%;
    background-color: #f1f6ff;
    margin: 0 auto;
}

.body-instruction h4 {
    color: #c61c1c;
    font-size: .9rem;
    letter-spacing: .3em;
}

.body-instruction h2 {
    color: #000;
    font-weight: bold;
    font-size: 1.5rem;
}

.w-70 {
    /*font-size: 1.1rem;*/
    width: 70%;
    margin: 0 auto !important;
}

.w-85 {
    /*font-size: 1.1rem;*/
    width: 85%;
    margin: 0 auto !important;
}

.hide-span {
    color: transparent;
}

.steps-list {
    margin: 0 auto;
    width: 95%;
}

    .steps-list h3 {
        font-size: 1rem;
        font-weight: bold;
        padding: .2rem;
        letter-spacing: .3em;
    }

    .steps-list p {
        font-size: .9rem;
    }

footer {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}

.foot-h4 {
    color: #6e9fce;
    margin-left: .5em;
    font-weight: bold;
}

.footer-newsletter {
    height: 45%;
    background-color: #3268e9;
}

.foot-nav {
    list-style-type: none;
    padding: 0;
    color: #fff;
}

    .foot-nav > li > a {
        position: relative;
        display: block;
        padding: .4em .7em;
        color: #fff;
    }

        .foot-nav > li > a:hover {
            font-weight: bold;
            text-decoration: none;
            cursor: pointer;
        }

.card-list {
    padding-top: 40px;
    margin: 5% auto;
    background-color: #fff;
    height: 300px;
    box-shadow: 0 2px 2px 0 #eee;
}

    .card-list h3 {
        width: 70%;
        margin: .5% auto;
        font-size: 1.3em;
    }

    /*.card-holder {
    position: relative;
    top: 10%;
}*/

    .card-list p {
        width: 90%;
        margin: 0 auto;
        font-size: .9rem;
        color: #899aa5;
    }

    .card-list img {
        max-width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 3%;
    }

.padding-top-5 {
    padding-top: 5%;
}

.padding-bottom-5 {
    padding-bottom: 5%;
}

.no-margin-right {
    margin-right: 0;
}

.padding-right-5 {
    padding-right: 5%;
}

.foot-brand {
    font-size: 3rem;
    padding-top: 2em;
    margin: 0 auto;
    color: #fff;
}

.footer-info {
    font-size: .75em;
}

.footer-links {
    background-color: #0c51ab;
}

.hide-xs {
    display: none;
}

@media (max-width: 992px) {


    .card-list p {
        width: 95%;
        font-size: .9em;
    }
}

@media (max-width: 926px) /* Mobile */ {
    .main-header {
        font-size: 2.821rem;
    }

    .undo-w {
        width: 100% !important;
    }
}

@media (max-width: 879px) {
    .navbar-right {
        font-size: 11px;
    }

    .main-header {
        font-size: 2.321rem;
    }

    .search-box {
        margin-left: 50px;
    }
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    .navbar-brand {
        top: 0;
    }

    .main-header {
        font-size: 2.5rem;
    }

    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    #kone {
        display: none;
    }

    .hide-xs {
        display: block;
    }

    .main-header {
        font-size: 2.3em;
    }

    .row {
        margin-right: 0;
    }

    .search-box {
        margin-left: 50px;
    }

    .footer-links {
        text-align: center;
    }

    .foot-brand {
        padding-bottom: .5em;
    }

    .card-list {
        font-size: 12px;
        height: 250px;
    }
}

@keyframes grow {
    0% {
        height: 0;
        width: 0;
        font-size: .2rem;
        color: transparent;
    }

    25% {
        height: 25%;
        width: 35%;
        font-size: .4rem;
        color: transparent;
    }

    50% {
        height: 50%;
        width: 60%;
        font-size: .6rem;
    }

    75% {
        height: 85%;
        width: 65%;
    }

    100% {
        height: 100%;
        width: 75%;
    }
}

@keyframes shrink {
    0% {
        max-width: 100%;
    }

    25% {
        max-width: 95%;
    }

    50% {
        max-width: 88%;
    }

    75% {
        max-width: 81%;
    }

    100% {
        max-width: 70%;
    }
}

@keyframes showArrow {
    0% {
        border: 0;
    }

    100% {
        display: block;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid #fff;
    }
}
