html {
    font-size: 1em;
}

h1 {
    font-size: 2.074em;
}

h2 {
    font-size: 1.728em;
}

h3 {
    font-size: 1.44em;
}

h4 {
    font-size: 1.2em;
}

hr {
    margin: 0 auto;
}

.main-header {
    font-size: 3.5rem;
    color: #fff;
    font-family: 'Source Code Pro', monospace;
}

.navbar {
    border: 0;
    padding: 0;
}

/*.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    padding: 0;
}*/

.navbar.navbar-default {
    background-color: #5a8cef;
    border-radius: 0;
    margin-bottom: 0;
    border-bottom: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
}

nav.navbar-nav.navbar-right.nav-link > li:nth-child(1) {
    content: '|';
}

.navbar-brand {
    position: relative;
    top: -55px;
}

.body-content {
    position: absolute;
    left: 0;
    right: 0;
}

.body-main {
    background-color: #5a8cef;
}

.search-box {
    margin: 50px auto 0;
    margin-left: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #4575d7;
    border: none;
    color: #fff;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #fff;
    text-align: center;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
    opacity: 1;
    text-align: center;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
    opacity: 1;
    text-align: center;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
    text-align: center;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
    text-align: center;
}

/*::placeholder { /* Most modern browsers support this now. */
    /*color: #fff;
    text-align: center;*/
/*}*/

#search-box::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #ccc;
}

#search-box:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc;
    opacity: 1;
}

#search-box::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;
    opacity: 1;
}

#search-box:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}

#search-box::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
}

/*#search-box::*//*placeholder { Most modern browsers support this now. */
    /*color: #ccc;
}*/

.search-btn {
    height: 50px;
    width: 20%;
    margin: 50px auto 0;
    margin-left: 20px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    border: none;
    background-color: #4575d7;
    color: #fff;
    font-weight: bold;
}

.body-sub {
    padding-top: 2%;
    background-color: #f1f6ff;
    margin: 0 auto;
}

.body-sub2 {
    background-color: #fff;
    padding-top: 2%;
}

.body-sub3 {
    padding-top: 2%;
    background-color: #f1f6ff;
    margin: 0 auto;
}

.body-instruction h1 {
    color: #c61c1c;
}

.steps-list {
    margin: 0 auto;
    width: 95%;
}

footer {
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}

.footer-newsletter {
    height: 45%;
    background-color: #3268e9;
    color: #fff;
}

.foot-nav {
    list-style-type: none;
    padding: 0;
}

    .foot-nav > li > a {
        position: relative;
        display: block;
        padding: .4em .7em;
    }

.card-list {
    margin: 2% auto;
    background-color: #fff;
    height: 200px;
    box-shadow: 0 2px 2px 0 #eee;
}

    .card-list h3 {
        width: 70%;
        margin: 0 auto;
        font-size: 1.3em;
    }

    .card-list p {
        width: 70%;
        margin: 0 auto;
        font-size: 1em;
        color: #899aa5;
    }

    .card-list img {
        width: 20%;
        margin: 0 auto;
        padding: 3%;
    }

.padding-top-5 {
    padding-top: 5%;
}

.padding-bottom-5 {
    padding-bottom: 5%;
}

.no-margin-right {
    margin-right: 0;
}

.padding-right-5 {
    padding-right: 5%;
}

.foot-brand {
    padding-top: 3em;
    margin: 0 auto;
}

.footer-info {
    font-size: .75em;
}

.hide-xs {
    display: none;
}

@media (max-width: 767px) /* Mobile */ {
    .navbar-brand {
        top: 0;
    }
}

@media (max-width: 879px) {
    .navbar-right {
        font-size: 11px;
    }

    .main-header {
        font-size: 2.8rem;
    }
}

body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;*/
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    #kone {
        display: none;
    }

    .hide-xs {
        display: block;
    }

    .main-header {
        font-size: 2.3em;
    }

    .row {
        margin-right: 0px;
    }

    .search-box {
        margin-left: 70px;
    }
}

#wokem {
    background-color: #5a8cef;
}
