<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BABYLAWYA</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body>
    @*<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">babylawya</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>*@

    <nav class="navbar navbar-default">
        @await Html.PartialAsync("_LoginPartial")

        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1,#bs-example-navbar-collapse-2"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BABYLAWYA</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="PersonalAndFamily">Personal and Family</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="PropertyAndFinance">Property and Finance</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="RunningBusiness">Running Your Business</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="HowItWorks">How it Works</a>
                    </li>
                    <li>
                        <a asp-area="" asp-controller="Home" asp-action="AskLawyer">Ask a Lawyer</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="body-content">
        <div class="">
            <div class="">
                @RenderBody()
            </div>

            <hr />

            <div class="footer">
                <footer>
                    <div class="footer-newsletter text-center">
                        <div class="newsletter-form container">
                            <form action="">
                                <label for="email">Get helpful tips and info from our newsletter</label>
                                <input type="text" placeholder="your email address">
                            </form>
                        </div>

                    </div>

                    <div class="footer-links">
                        <div class="no-margin-right row text-center">
                            <div class="col-xs-6 col-sm-2">
                                <h4>COMPANY</h4>
                                <ul class="foot-nav">
                                    <li>
                                        <a>About</a>
                                    </li>
                                    <li>
                                        <a>Contact</a>
                                    </li>
                                    <li>
                                        <a>Careers</a>
                                    </li>
                                    <li>
                                        <a>Press</a>
                                    </li>
                                    <li>
                                        <a>Affiliates</a>
                                    </li>
                                    <li>
                                        <a>Blog</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-xs-6 col-sm-3">
                                <h4>SUPPORT</h4>
                                <ul class="foot-nav">
                                    <li>
                                        <a>Order Status</a>
                                    </li>
                                    <li>
                                        <a>Customer Care</a>
                                    </li>
                                    <li>
                                        <a>Speak With an Attorney</a>
                                    </li>
                                    <li>
                                        <a>Join Our Attorney Network</a>
                                    </li>
                                    <li>
                                        <a>See all services</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-xs-12 col-sm-2">
                                <h4>LEARN MORE</h4>
                                <ul class="foot-nav">
                                    <li>
                                        <a>Knowledge Center</a>
                                    </li>
                                    <li>
                                        <a>Legal Help Articles</a>
                                    </li>
                                    <li>
                                        <a>Business Resources</a>
                                    </li>
                                    <li>
                                        <a>Additional Resources</a>
                                    </li>
                                    <li>
                                        <a>Legal Forms</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-xs-12 col-sm-5">
                                <h1 class="foot-brand">BABYLAWYA</h1>
                            </div>
                        </div>
                    </div>

                    <div class="footer-info container">
                        <div class="row no-margin-right">
                            <div class="col-sm-6">
                                <p>
                                    An offer of membership in our legal plan is not an endorsement or advertisement for any individual attorney.
                                </p>

                                <p>
                                    The legal plan is available in most states. © BabyLawya. All rights reserved. Disclaimer: Communications
                                    between you and BabyLawya are protected by our Privacy Policy but not by the attorney-client
                                    privilege or as work product.
                                </p>

                                <p>
                                    BabyLawya provides access to independent attorneys and self-help services at your specific direction.
                                    We are not a law firm or a substitute for an attorney or law firm. We cannot provide any kind
                                    of advice, explanation, opinion, or recommendation about possible legal rights, remedies, defenses,
                                    options, selection of forms or strategies. Your access to the website is subject to our Terms
                                    of Use.
                                </p>
                            </div>

                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-4 logos"><p>LOGO</p></div>
                                    <div class="col-sm-4 logos"><p>LOGO</p></div>
                                    <div class="col-sm-4 logos"><p>LOGO</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
